@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
@model IEnumerable<WebMobile.ServiceReferenceSanPham.SanPham>
<div class="group product clearfix">
    <div class="header2">
        <span class="title">
            <span>
                <a href="/dien-thoai/maxfone-22.aspx">@ViewBag.Category</a>
            </span>
        </span>
    </div>
</div>
<div class="box-pro-home">
    @foreach (var pro in Model)
{
    <div class="item-pro-home">
        <div class="box-img-pro-home">
            <a href="@Url.Action("Details", "Index", new { id = pro.MaSP })" target=" _blank">
                <img src="~/Images/Product/@pro.UrlHinh"/>
            </a>
        </div>
        <a href="@Url.Action("Details", "Index", new { id = pro.MaSP })" target="_blank">
            @pro.TenSP
        </a>
        <p>@String.Format("{0:0,0 VNĐ}", Convert.ToInt32(pro.Gia))</p>
        <a href="@Url.Action("addtocart", "mycart", new { id = pro.MaSP })">
            <input name="btnMuaHang" class="btn-muahang" type="button" value="Mua hàng" />
        </a>
    </div>
}
</div>
<link href="~/Content/PagedList.css" rel="stylesheet" />